.searchbar{
    margin-bottom: 0px;
    margin-top: 0px;
    height: 40px;
    background-color: #9498a1;
    border-radius: 30px;
    padding: 5px;
    }

    .search_input{
    
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 1px;
    width: 150px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #694741;
    }

    .search_icon{
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }

    @media (max-width: 991px) { 
        .searchbar{
            
            height: 40px;
            background-color: #9498a1;
            border-radius: 30px;
            padding: 5px;
            margin-right: 2rem;
            }

            .searchbar:hover > .search_input{
                padding: 0 1px;
                width: 50px;
                caret-color:red;
                transition: width 0.4s linear;
                }

            .searchbar:hover{
                    margin-right: 0px;
                }

      }

